$yellow_button_color:#f5eb05;

$--measurement_color: #0076a7;
$--input-output_color: #47bae1;
$--data-gathering_color:#00a38e;
$--time-sync_color:#c5b200;
$--indication_color:#e94b5a;
$--special_color: #be0068;
$--options_color:#93378c;
$border_color:#ebebeb;
$box_shadow:rgba(0, 0, 0, 0.6);
