$basic_font: Open Sans;

$header_link_font: Roboto;

$intro_title_font: Roboto Black;
$intro_text_font: Roboto;
$intro_button_font: Open Sans;

$enip_header_font: Roboto;
$price_font: Open Sans;
$price_sub_font: Open Sans;

$setting_price_font: Open Sans;

$accessories_list_font: Roboto;
$accessories_title_font: Roboto;

$advantages_header_font: Roboto;

$container_font: Roboto;
